<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Venue</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Guest</th>
            </tr>
        </thead>
        <tbody>
            {% for event in results %}
            <tr>
                <td><a href="{% url 'event-detail' event.id %}">{{ event.name }}</a></td>
                <td>{{ event.venue }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.no_of_guest }}</td>
                <td>
                    <form action="{% url 'event-detail' event.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" value="delete">DELETE EVENT</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <form method="POST">
            {% csrf_token %}
            <button type="submit">Create New Event</button>
        </form>
    </div>
</body>
</html>