<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAMPLE</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <label>Event Name: </label>
    {% if event.name %}
        <input type="text" name="name" value="{{ event.name }}">
    {% else %}
        <input type="text" name="name">
    {% endif %}
    <br>
    <label>Venue: </label>
    {% if event.venue %}
        <input type="text" name="venue" value="{{ event.venue }}">
    {% else %}
        <input type="text" name="venue">
    {% endif %}
    <br>
    <label>No. Of Guest: </label>
    {% if event.no_of_guest %}
        <input type="number" name="no_of_guest" value="{{ event.no_of_guest }}">
    {% else %}
        <input type="number" name="no_of_guest">
    {% endif %}
    <br>
    <label>Start Date: </label>
    {% if event.start_date %}
        <input type="date" name="start_date" value="{{ event.start_date }}">
    {% else %}
        <input type="date" name="start_date">
    {% endif %}
    <br>
    <label>End Date: </label>
    {% if event.end_date %}
        <input type="date" name="end_date" value="{{ event.end_date }}">
    {% else %}
        <input type="date" name="end_date">
    {% endif %}
    <br>
    <button type="submit">SAVE</button>
    <p><a href="{% url 'event-list' %}">CANCEL</a></p>
</form>
</body>
</html>