<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Venue</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Guest</th>
            </tr>
        </thead>
        <tbody>
            {% for event in results %}
            <tr>
                <td><a href="{% url 'event-detail' event.id %}">{{ event.name }}</a></td>
                <td>{{ event.venue }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.guest }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>